.box{
    height: 300px;
    width: 230px;
    border: 3px solid black;
    border-radius: 7%;
    margin-top: 12%;
    margin-right: 2%;
    
}
.outer{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}