header{
    display: flex;
    width: 100%;
}
.right{
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.middle{
    list-style-type: none;
    font-size: 1.2rem;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px 10px;
}
.link{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.active{
    background-color: #BEE9E8;
}
.link-home{
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    flex-grow: 1;
    text-align: center;
}
.link-about{
    flex-grow: 1;
    text-align: center;
}
.link-courses{
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    flex-grow: 1;
    text-align: center;
}
.allButtons{
    display: flex;
    justify-content: center;
    border: 3px solid #BEE9E8;
    border-radius: 23px;
    margin: 10px;
    width: 60%;
    
}

.left{
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 30%;
}
.left li{
    margin: 10px;
    padding: 10px;
}



